# Server
server/node_modules/
server/dist/
server/.env*
server/build/

server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

server/coverage

# Client
client/node_modules/
client/.env*
client/.vercel/

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

client/.DS_Store
client/*.pem

client/build/
client/.next/
client/out/
client/coverage/
client/.pnp
client/.pnp.*

client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/versions

client/*.tsbuildinfo
client/next-env.d.ts

# Root
node_modules